---
rdf_prefix_path: "_data/prefixes.sparql"
layout: page
---

<h1>{{ page.rdf | rdf_property: "foaf:name" }}</h1>
<!-- {{ page.rdf }} -->
<p>Birth year: {{ page.rdf | rdf_property: "dbo:birthYear" }}</p>

{% capture query %}
SELECT ?games ?year ?sport ?medalLabel ?cityName
    WHERE {
        ?instance ex:athlete ?athlete;
                  ex:medal ?medal;
                  ex:games ?games;
                  ex:event ?event .

        ?athlete foaf:name '{{ page.rdf | rdf_property: "foaf:name" }}'@en .

        ?medal rdfs:label ?medalLabel .
         #OPTIONAL {
          #  ?instance ex:medal ?medal .
         #   ?medal rdfs:label ?medalLabel
        #} .

        ?games dbo:location ?city ;
        ex:season ?season;
        dbo:year ?year .

    	?event rdfs:label ?sport .

        ?city rdfs:label ?cityName .

    }
ORDER BY DESC(?year)
{% endcapture %}
{% assign resultset = page.rdf | sparql_query: query %}

<h3>Medals</h3>

{% for result in resultset %}
<!-- {{ result.games }} -->
<div class="posts">
    <div>
          <a href="/resource/olympics/games/{{ result.year }}/Winter">{{ result.year }} {{ result.cityName}}</a>,  {{ result.sport }}: {{ result.medalLabel }}
    </div>
</div>
{% endfor %}
