---
rdf_prefix_path: "_data/prefixes.sparql"
layout: page
---

<h1>{{ page.rdf | rdf_property: "dbo:location" | rdf_property: "rdfs:label" }} {{ page.rdf | rdf_property: "dbo:year" }}</h1>
<!-- {{ page.rdf }} -->

{% capture query %}
SELECT DISTINCT ?athlete
    WHERE {
        ?instance ex:athlete ?athlete;
                  ex:medal ?medal;
                  ex:games ?games;
                  ex:event ?event .

        ?athlete foaf:name ?athleteLabel .

        ?medal rdfs:label ?medalLabel .

        ?games dbo:location ?city ;
        ex:season ?season;
        dbo:year ?year .

        FILTER(?year = {{ page.rdf | rdf_property: "dbo:year" }}).

    }
    ORDER BY ASC(?athleteLabel)
{% endcapture %}
{% assign resultset = page.rdf | sparql_query: query %}

<h3>Athletes</h3>

{% for result in resultset %}
<!-- {{ result.athlete }} -->
<div class="posts">
    <div>
          <a href="{{ result.athlete.page_url }}">{{ result.athlete | rdf_property: "foaf:name" }}</a>
    </div>
</div>
{% endfor %}
